$persian: #009588;
.color-persian {
  color: $persian;
}
.text-persian {
  color: $persian;
}
.bg-persian {
  background-color: $persian;
}

$mystic: #D8E8EA;
.color-mystic {
  color: $mystic;
}
.text-mystic {
  color: $mystic;
}
.bg-mystic {
  background-color: $mystic;
}

$pradera: #E7F0E4;
.color-pradera {
  color: $pradera;
}
.text-pradera {
  color: $pradera;
}
.bg-pradera {
  background-color: $pradera;
}