.iti__hide {
  display: none;
}

pre {
  margin: 0 !important;
  display: inline-block;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none;
}

input,
button {
  height: 35px;
  margin: 0;
  padding: 6px 12px;
  border-radius: 2px;
  font-family: inherit;
  font-size: 100%;
  color: inherit;
}

input[disabled],
button[disabled] {
  background-color: #eee;
}

input,
select {
  border: 1px solid #ccc;
  width: 250px;
}

::-webkit-input-placeholder {
  color: #bbb;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #bbb;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #bbb;
}

button {
  color: #fff;
  background-color: #428bca;
  border: 1px solid #357ebd;
}

button:hover {
  background-color: #3276b1;
  border-color: #285e8e;
  cursor: pointer;
}

#result {
  margin-bottom: 100px;
}
