.iti {
  width: 100%;
}
.iti__hide {
  display: none;
}

pre {
  margin: 0 !important;
  display: inline-block;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none;
}

input,
button {
  height: 35px;
  margin: 0;
  padding: 6px 12px;
  border-radius: 12px;
  font-family: inherit;
  font-size: 100%;
  color: inherit;

  background: #f6f6f6;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}
input[disabled],
button[disabled] {
  background-color: #eee;
}


::-webkit-input-placeholder {
  color: #bbb;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #bbb;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #bbb;
}



#result {
  margin-bottom: 100px;
}
