.bloquear-fondo {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(80%);
  }
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .spinner {
    width: 50px;
    height: 50px;
    border: 10px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-left-color: #198754;
  }
  .spinner {
    width: 50px;
    height: 50px;
    border: 10px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-left-color: #198754;
  
    animation: spin 1s ease infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  