@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

@import "colors";

body {
  background: url("../img/bg.png") repeat;
  font-family: "Roboto", sans-serif;
  color: #000;
}

header {
  a {
    color: #fff;
  }
}
ul {
  list-style: none;
  padding: 0;
}

//////////////////////////////////////// Home
.left-call {
  h1 {
    line-height: 1.2em;
  }
  p {
    font-size: 1.3em;
    line-height: 1.5em;
    color: #000000;
    letter-spacing: 0;
    font-weight: 400;
  }
}
.card-benefit {
  background: #E7F0E4;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
  border-radius: 14px;
  font-size: 12px;
}
.accordion-button:not(.collapsed) {
  background-color: $mystic;
  color: #000;
}
#help-link {
  img {
    max-width: 60px;
  }
}
.url-example {
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: inline-flex;
  .card-body {
    justify-content: start;
  }
  h2 {
    position: relative;
    z-index: 0!important;
    font-size: 30px;
    color: $persian;
    letter-spacing: 0;
    text-align: left;
  }
  //Para browser
  @media (max-width: 768px) {
    padding: 0 !important;
    display: flex;
    .card-body {
      justify-content: center;
    }
    h2 {
      font-size: 20px;
    }
  }
  //Para dispositivo
  @media only screen and (max-device-width: 768px) {
    padding: 0 !important;
    display: flex;
    .card-body {
      justify-content: center;
      img {
        width: 23px;
      }
    }
    h2 {
      font-size: 20px;
    }
  }
}

//Main action
.main-action {
  background: #e7f0e4;
  box-shadow: 0 3px 7px -4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  input#field {
    display: inline-block;
    width: calc(100% - 45px);
  }
  #charNum {
    background: #e7e7e7;
    height: 35px;
    width: 37px;
    display: inline-block;
    line-height: 35px;
    border-radius: 3px 5px 5px 3px;

    font-size: 18px;
    color: #acacac;
    letter-spacing: 0;
  }
  .check-available {
    display: inline-block;
    button {
      height: auto;
      font-size: 100%;
    }
  }

  .permalink-desk {
    width: 100%;
    margin-top: 0.25rem !important;
    margin-bottom: 0.5rem !important;
    display: flex;
    /*
    //Para browser
    @media (max-width: 991px) {
      visibility: hidden;
      display: none;
      opacity: 0;
    }
    //Para dispositivo
    @media only screen and (max-device-width: 768px) {
      visibility: hidden;
      display: none;
      opacity: 0;
    }
    */
  }

  .slug-result {
    background: #e7e7e7;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
  }
  .main-cta {
    background-color: #25d466;
    border-color: #25d466;
    border-radius: 6.03px;
    font-size: 21px;
    line-height: 21px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    padding: 12px auto;
    height: auto; 
    &:hover {
      background: #00ff5f;
      color: #112d1d;
    }
    &:disabled {
      background-color: #7b7b7b;
      border-color: #7b7b7b;
    }
  }
  .logo-paypal {
    font-size: 12px;
    img {
      width: 60px;
    }
  }
}

//DASHBOARD
#user_address {
  button.btn-sm {
    padding-top: 0;
    padding-bottom: 0;
    height: 25px;
  }
  table {
    thead {
      th {
        white-space: nowrap;
      }
    }
    tbody {
      td {
        white-space: nowrap;
      }
    }
  }
}

///////////////////////////////////////// Modales
#enterModal {
  z-index: 9999!important;
  .modal-content {
    z-index: 99999 !important;
  }
}
#helloModal {
  .modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .alert {
      word-break: break-all;
    }
    button {
      height: 58px;
    }

    //Para browser
    @media (max-width: 991px) {
      flex-direction: column;
      .alert,
      button {
        width: 100%;
      }
    }
    //Para dispositivo
    @media only screen and (max-device-width: 768px) {
      flex-direction: column;
      .alert,
      button {
        width: 100%;
      }
    }
  }
}
//Edit Modal
#editModal {
  input {
    background-color: #fff;
  }
  input#fieldB {
    display: inline-block;
    width: calc(100% - 47px);
  }
  #charNumB {
    background: #e7e7e7;
    height: 35px;
    width: 37px;
    display: inline-block;
    line-height: 35px;
    border-radius: 3px 5px 5px 3px;
    font-size: 18px;
    color: #acacac;
    letter-spacing: 0;
  }
  .check-available {
    display: inline-block;
    button {
      height: auto;
      font-size: 100%;
    }
  }
}

@import "phone";
