/* 
 *    jQuery Rotator v0.1.BETA - 2014-09-16
 * 
 *    Copyright (c) 2014 Lukasz Lelek
 *    http://ht2.pl/scripts/rotator/
 *    
 *    Licensed MIT 
 */

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rotate {
    display:none
}

.rotate-arena {
    display: inline-block;
}

.rotate-arena > span {
    display: inline-block; 
}
